.menu1 ul li{
	background-color: black;
	float: left;
	width: 135px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	position: relative;
	padding: 10px 10px;
	
}

.menu1 ul li:hover{
	background-color: rgb(143, 158, 126);
}

.menu1 ul{
	padding: 0px;
}

.menu1 ul ul{
	display: none;
}

.menu1 ul li:hover > ul{
	display:block;
}

.menu1 ul ul ul{
	margin-left: 147px;
	top: 0px;
	position: absolute;
}

.menu1 ul ul li:hover{
	background-color: #144aa0;
}


.menu1 ul ul ul li:hover{
	background-color: #062a66;
}

.menu1 a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-style: initial;
}

.menu1 ul ul ul li{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-style: initial;
}


.cat_produtos {
    margin-left: 2%;
}

.produtos {
    width: 20%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    cursor: zoom-in;
}

.produtos img{
	height: 100px;
	width: 75px;
}

.preco_ant {
    text-decoration: line-through;
    font-size: 15px;
}

.preco_final {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.input-class {
	padding: 0cm;
	text-transform: uppercase;
	width: 70px;
	border: 1px solid #6db5f1;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	margin: 10px auto;
	display: block;
}



